APP_NAME="Smartchoice Event Manager"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
DB_CONNECTION=sqlite
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_SECURE_COOKIE=false
SESSION_DOMAIN=null
SANCTUM_STATEFUL_DOMAINS=localhost
